@use "../abstracts" as *;

.btn {
  transition: $transition-standard;

  &--location {
    height: 4rem;
    width: 4rem;
    border-bottom-right-radius: 1.6rem;
    padding: 0.8rem;
    color: $color-primary-light;

    &:is(:hover, :active) {
      background-color: $color-primary;
      color: #fff;
    }
  }

  &--search {
    background-color: $color-primary;
    font-size: 2rem;
    border-radius: 0.4rem;
    padding: 1.2rem;
    font-weight: 500;
    margin-top: 1.2rem;

    &:is(:hover, :active) {
      opacity: 0.8;
    }
  }
}
